@media (max-width:498px) {
    .details{
        padding: 0px 0px;
        gap: 10px;
        /* width: 100%; */
       
    }
    .humidity, .wind{
        font-size: 20px;
    }
    .col img{
        margin-right: 5px;
    }
    .search input{
        padding-left: 10px;
    }
}
@media (max-with:294px) {
    .search input{
        font-size: 14px;
    }
    
}