*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'popins', 'sans-serif';
}
body{
    background-color: #555
}
.card{
    width: 90%;
    /* background-color: blue; */
    max-width: 470px; 
    margin: 100px auto 0px;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(135deg, #00feba, #5b548a);
    text-align: center;
     padding: 40px 40px; 
     overflow: hidden;
    
}
.search{
    width: 100%;
    /* background-color: #5b548a;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
}
.search input{
    border: 0;
    outline: 0;
    height: 60px;
    color: #555;
    background: #ebfffc;
    border-radius: 30px;
    font-size: 18px;
    width: 80%;
     /* padding: 10px 25px; 
     margin-right: 18px;   */
     flex: 1; 
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    /* width: 60px;
    height: 60px; */
    /* height: 60px; */
    height: 60px;
    width: 60px;
    background: #ebfffc;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    /* width: 170px; */
    width: 80%;
    margin-top: 30px;
}
h1{
    font-size: 80px; 
    
    font-weight: 500;
}
h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    margin-top: 50px;
     padding: 0px 20px; 
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
     width: 40px; 
   
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 40px; 
      
    margin-top: -6px; 
}